<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ChessDB" connectionString="Server=(localdb)\MSSQLLocalDB;Database=ChessDB;Trusted_Connection=True;" providerName="System.Data.sqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>